
<template name="header">
    <link rel="stylesheet" href="../stylesheets/stylesheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>   
    <img href="/" class="ui small circular image" src="https://yt3.ggpht.com/-u33cT9kNn18/AAAAAAAAAAI/AAAAAAAAAAA/EOvn5Mn_mJc/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg">
                <div class="ui inverted secondary pointing menu">
                    <a class="active item" href="/"> Home </a>
                    <a class="item" href="/new-video"> New Videos </a>
                    <a class="item" href="/tbd"> TBD </a>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui icon input">
                                <input type="text" placeholder="Search...">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                        <a class="ui item"> {{> loginButtons}} </a>
                        <a class="ui item"> Logout </a>
                    </div>
                </div>   
                <hr style="width: 100%;;">
</template>